extends ../layout

block content
    h1 Lista de evaluaciones
    
    //- Botón para crear nueva evaluación
    div.actions
        a(href="/evaluations/new" class="btn-primary") + Nueva Evaluación

    if evaluations.length === 0
        p No hay evaluaciones registradas.
    else
        table
            thead
                tr
                    th ID
                    th Usuario
                    th Proyecto
                    th Comentarios
                    th Fecha
                    th Acciones
            tbody
                each evaluation in evaluations
                    tr
                        td 
                            a(href=`/evaluations/${evaluation.evaluation_id}`)= evaluation.evaluation_id 
                        td= evaluation.user_id
                        td= evaluation.project_id
                        td= evaluation.general_comment
                        td= evaluation.when_created
                        td.actions-cell
                            //- Botón Editar
                            a(href=`/evaluations/${evaluation.evaluation_id}/edit` class="btn-small") Editar
                            
                            //- Botón Borrar
                            form(method="POST" action=`/evaluations/${evaluation.evaluation_id}/delete` style="display: inline;" onsubmit="return confirm('¿Seguro que quieres borrar esta evaluación?')")
                                button(type="submit" class="btn-small btn-delete") Borrar